@charset "UTF-8";

.reservations-top-table-container {
  padding: 120px 0 88px;
  margin: 0 auto 185px;
  box-shadow: 0px 0px 6px #00000029;
  background-color: #FFF;
  max-width: 736px;
}
.reservations-descriptions {
  display: flex;
  align-items: center;
  background: #F2F2F2;
  margin: 0 96px 72px;
}
.reservations-descriptions-no-reserve {
    align-items: center;
    margin: 0 96px 40px;
}
.reservations-more-details {
  display: flex;
  align-items: center;
  margin-right: 43px;
}
.reservations-poster {
  margin-right: 24px;
  width: 107px;
}
.reservations-title {
  font-size: 20px;
  margin-bottom: 4px;
}
.reservations-date {
  font-size: 16px;
  margin-bottom: 8px;
}
.reservations-price {
  font-size: 18px;
  font-weight: 600;
}
.reservations-space {
  margin-right: 12px;
}
.reservations-details {
  text-align: initial;
}
.reservations-top-container {
  text-align: center;
  color: #707070;
}
.reservations-cancel-button a {
  font-size: 12px;
  color: #AFAFAF;
  padding: 10px 18px;
  border: 1.5px solid #AFAFAF;
}
.reservations-cancel-button a:hover {
  background-color: #fff;
}
.reservations-to-mypage-button a {
  background-color: #F5AE0B;
  display: inline-block;
  padding: 16px 104px;
  box-shadow: 0px 2px 2px #00000014;
  font-size: 15px;
  color: #FFF;
  letter-spacing: 0.44px;
}
.reservations-to-mypage-button a:hover{
  box-shadow: 0px 2px 6px #00000056;
}

=======
.seat-reservation {
  text-align: center;
  font-size: 25px;
  margin-bottom: 39px;
  color: #707070;
}
.seats-outer-wrapper {
  background-color: #fff;
  padding: 84px 120px 80px 120px;
  width: 736px;
  margin: 0 auto 33px auto;
}
.seats-inner-wrapper {
  padding: 0 9px;
  display: flex;
  margin-bottom: 56px;
}
.seats-columns {
  text-align: center;
  margin-right: 16px;
}
.seats-columns:last-child {
  margin-right: 20px;
}
.seats-columns li {
  margin-bottom: 16px;
  font-size: 13px;
  color: #99918C;
}
.seats-columns li:last-child {
  margin-bottom: 0;
}
.seats-rows {
  padding-top: 39px;
}
.seats-rows li {
  font-size: 13px;
  margin-bottom: 22px;
  line-height: 18px;
  color: #99918C;
}
.seats-rows li:last-child {
  margin-bottom: 0;
}
.rows-left {
  margin-right: 19px;
}
.unavailable {
  height: 24px;
  width: 24px;
  background-color: #fff;
  border: 1px dotted #C9C9C9;
  border-radius: 3px;
}
.available {
  height: 24px;
  width: 24px;
  background-color: #C9C9C9;
  border-radius: 3px;
  cursor: pointer;
}
.selected {
  height: 24px;
  width: 24px;
  background-color: #464444;
  border-radius: 3px;
  cursor: pointer;
}
.submit {
  text-align: center;
}
.seats-reservation-btn {
  display: inline-block;
  padding: 16px 152px;
  background-color: #F5AE0B;
  color: #fff;
  letter-spacing: .44px;
}
