.seat-reservation {
    text-align: center;
    font-size: 25px;
    margin-bottom: 39px;
    color: #707070;
}
.seats-outer-wrapper {
    background-color: #fff;
    padding: 84px 120px 80px 120px;
    width: 736px;
    margin: 0 auto 33px auto;
}
.seats-inner-wrapper {
    padding: 0 9px;
    display: flex;
    margin-bottom: 56px;
}
.seats-columns {
    text-align: center;
    margin-right: 16px;
}
.seats-columns:last-child {
    margin-right: 20px;
}
.seats-columns li {
    margin-bottom: 16px;
    font-size: 13px;
    color: #99918c;
}
.seats-columns li:last-child {
    margin-bottom: 0;
}
.seats-rows {
    padding-top: 39px;
}
.seats-rows li {
    font-size: 13px;
    margin-bottom: 22px;
    line-height: 18px;
    color: #99918c;
}
.seats-rows li:last-child {
    margin-bottom: 0;
}
.rows-left {
    margin-right: 19px;
}
.unavailable {
    height: 24px;
    width: 24px;
    background-color: #fff;
    border: 1px dotted #c9c9c9;
    border-radius: 3px;
}
.available {
    height: 24px;
    width: 24px;
    background-color: #c9c9c9;
    border-radius: 3px;
    cursor: pointer;
}
.selected {
    height: 24px;
    width: 24px;
    background-color: #464444;
    border-radius: 3px;
    cursor: pointer;
}
.submit {
    display: inline-block;
    margin-right: 16px;
    text-align: center;
}
.seats-reservation-btn {
    display: inline-block;
    padding: 16px 152px;
    background-color: #f5ae0b;
    color: #fff;
    letter-spacing: 0.44px;
}
/*予約確認画面*/
.reservation-detail {
    padding-bottom: 247px;
}

.reservation-detail-wrapper {
    margin: 0 auto;
    font-size: 18px;
    padding-top: 96px;
    padding-bottom: 189px;
    background-color: #fff;
    width: 736px;
    text-align: center;
}
.reservation-detail-list li {
    color: #707070;
    margin-bottom: 22px;
}
.reservation-detail-decision {
    display: inline-block;
    padding: 16px 80px;
    background-color: #f5ae0b;
    color: #fff;
    letter-spacing: 0.44px;
}
.reservation-detail-cancel {
    display: inline-block;
    padding: 16px 23px;
    background-color: #efefef;
    color: #707070;
    letter-spacing: 0.44px;
}
/*予約確認画面終了*/
